-e git+git@github.com:felix990302/autoaqw.git@12828bc9e922a9988fea4bfe7062285438bb14ae#egg=autoaqw
click==6.7
first==2.0.1
flake8==3.5.0
mccabe==0.6.1
numpy==1.14.4
opencv-python==3.4.1.15
Pillow==5.1.0
pkg-resources==0.0.0
PyAutoGUI==0.9.36
pycodestyle==2.3.1
pyflakes==1.6.0
PyMsgBox==1.0.6
PyScreeze==0.1.14
python3-xlib==0.15
PyTweening==1.0.3
six==1.11.0
